version: 2

jobs:
  build_and_test:
    machine:
      image: ubuntu-1604:201903-01
    working_directory: ~/snowflake-on-ecs
    steps:
      - checkout
      - run: 
          name: Build Docker image
          command: |
            docker build -t slalombuild/airflow-ecs .
      - run: 
          name: Test Docker image
          command: |
            docker run slalombuild/airflow-ecs version | grep '1.10.7'
      - run: 
          name: Verify image size
          command: |
            docker images | grep slalombuild/airflow-ecs | grep 'MB$'
      - run:
          name: "Set Python version"
          command: pyenv global 3.7.0
      - run: 
          name: Run Python tests
          command: |
            pip install --upgrade pip
            pip install -r requirements-dev.txt
            tox
workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test
